.navbar-brand {
  transition: all ease 0.3s;
}
.navbar-brand:hover {
  transform: scale(1.1);
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-item a {
  color: #111;
  font-size: 1.2rem;
  transition: 0.3s;
  text-shadow: 4px 4px 29px rgba(255, 255, 255, 1);
}
.navbar {
  margin: 0;
  background: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.nav-item a:hover {
  color: #dda15e;
  transform: scale(1.1);
}
.navbar-toggler-icon,
.navbar-toggler {
  border: none;
}
